<div class="container">
    <div class="row">

        
        <div class="col-4">
            <button class="btn btn-success">Prueba</button>
        </div>
        <div class="col-4">
            <button class="btn btn-danger">Prueba</button>
        </div>
        <div class="col-4">
            <button class="btn btn-danger">Prueba</button>
        </div>

    </div>

    <div class="row">
        <div class="col-6">
            <button class="btn btn--success">Prueba</button>
        </div>
        <div class="col-6">
            <button class="btn btn-danger">Prueba</button>
        </div>
        @*<div class="col-4">
            <button class="btn btn-danger">Prueba</button>
        </div>*@

    </div>
</div>